body {
  background-color: #141414;
  color: #c4c4c4;
}

#footer {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 10px;
  width:100%;
  position:fixed;
  bottom:0;
  left: 0;
  text-align: center;
}
  
.header img {
   max-width: 50em;
   width:100%;
   margins:auto;
}

#title a { /*website title*/
  text-align:center;
  margin:5% 0% 3% 0%;
  font-family: cursive;
  color: #f5f5f5;
  text-decoration: none;
}

#nav {
  list-style-type: none;
  margin: 0 3% 0 3%;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  background-color: #808080;
}

#nav li {
  display: inline;
}

#nav a {
  display: inline-block;
  padding: 16px;
  text-decoration: none;
  list-style:none;
  text-transform:uppercase;
  color: #e6e6e6;
  background-color: #808080;
}

#nav li a:hover {
  background-color: #9e9e9e;
}

/*SLIDESHOW*/
/*source: https://www.w3schools.com/howto/howto_js_slideshow.asp */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 35px;
  padding: 8px 12px;
  position: absolute;
  bottom: 4px;
  width: 100%;
  text-align: center;
  font-family:'Garamond', serif;
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
