body {
  background-color: #141414;
  color: #c4c4c4;
  margin:0;
  font-family:'Garamond', serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  width:100%;
}

.header {
  background-color:#630000;
  padding-top:1em;
  padding-bottom:0.1em;
}

.header img {
  max-width: 35em;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.nav {
  /*LIST*/
  list-style-type: none;
  overflow: hidden;
  /*FONT*/
  text-align: center;
  font-family: 'Garamond', serif;
  font-size:18px;
  font-weight: bold;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  list-style:none;
  color: #d4d4d4;
}

.nav li a:hover {
  color: white;
}

/*CREDITS*/
.credits {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5%;
  grid-auto-rows: minmax(100px, auto);
  margin: 1em 4em 1em 4em;
}

.credits h1 {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.col1 {
  grid-column: 1 / 2;
  grid-row: 2;
}

.col2 {
  grid-column: 2 / 3;
  grid-row: 2;
}

.col3 {
  grid-column: 3 / 4;
  grid-row: 2;
}
  

/*POEM*/
.content {
  display:grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 10%;
  grid-auto-rows: minmax(100px, auto);
  margin: 1em 2em 1em 2em;
}

.gallery {
  grid-column:1 / 2;
  grid-row: 1;
  padding-left:5%;
}

.gallery img {
  padding-top:5%;
}

.poem {
  line-height:1;
  grid-column: 2 / 3;
  grid-row: 1;
}

#author {
  text-transform:uppercase;
  font-family:'Helvetica', sans-serif;
  font-size: 80%;
  margin-bottom:5%;
}

#text {
  line-height:1.5;
  font-size:132%;
  grid-column:2 / 3;
  grid-row:2;
}

/*DEFINITION POPUPS*/
 /* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color:white;
  text-decoration:underline;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  font-family: 'Helvetica', sans-serif;
  font-size:60%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} 

/*SLIDESHOW*/
/*source: https://www.w3schools.com/howto/howto_js_slideshow.asp */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 35px;
  padding: 8px 12px;
  position: absolute;
  bottom: 4px;
  width: 100%;
  text-align: center;
  font-family:'Garamond', serif;
  background-color: rgba(0,0,0,0.8);
}

.text a {
  text-decoration:none;
  color: #f2f2f2;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#footer {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 10px;
  width:100%;
  bottom:0;
  left: 0;
  padding-top:4em;
  text-align: center;
}

  
/*MEDIA QUERIES*/
@media screen and (max-width: 800px) {
  .nav li {
    display:list-item;
  }
  
  .nav {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  .credits {
    grid-template-columns:1fr;
    grid-gap:0;
    margin: 0 5% 0 5%;
  }
  
  .credits h1 {
    grid-row: 1;
  }
  
  .col1 {
    grid-row: 2;
  }
  
  .col2 {
    grid-column: 1 / 2;
    grid-row: 3;
  }
  
  .col3 {
    grid-column: 1 / 2;
    grid-row:4;
  }
  
  .content {
    grid-template-columns:1fr;
    grid-gap:0;
  }

  .poem {
    grid-row:1;
    grid-column:1 / 2;

  }

  .gallery {
    grid-row:2;
    grid-column:1 / 2;
    padding: 0 0 0 0;
  }
}
